TFL_flow.txt
[{"id":"11572ff0.7995b","type":"inject","z":"1b4fd640.7790fa","name":"","topic":"","payload":"04503","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.3809814453125,"y":165.142822265625,"wires":[["5ac253.efac8dac"]]},{"id":"1dcbf197.05f356","type":"http request","z":"1b4fd640.7790fa","name":"OSM Speed Limit Call","method":"GET","ret":"txt","url":"http://localhost:5001/osm-api/tfl-speedlimit/{{{camera_id}}}","tls":"","x":677.4974365234375,"y":242.35946655273438,"wires":[["6dcb3841.cf3408"]]},{"id":"6dcb3841.cf3408","type":"function","z":"1b4fd640.7790fa","name":"Apply JSON-LD Context","func":"function AddUUID(input_msg,context_dict)\n{\n    for (var plain_json_key in context_dict)\n    {\n        uuid = context_dict[plain_json_key];\n        input_msg.payload = input_msg.payload.replace('\"'+plain_json_key+'\":','\"'+uuid+'\":');\n    }\n    \n    return input_msg\n}\n\nvar node_context_dictionary = {\"camera_id\":\"test\",\"geo_lat\":\"wgs84_pos:lat\",\"geo_long\":\"wgs84_pos:long\"};\n\nreturn AddUUID(msg,node_context_dictionary);","outputs":1,"noerr":0,"x":937.2140502929688,"y":242.8094940185547,"wires":[["5872b532.65ce4c"]]},{"id":"39008da6.206462","type":"http request","z":"1b4fd640.7790fa","name":"Car Detector","method":"GET","ret":"txt","url":"http://localhost:5000/tfl-api/detect-cars/{{{camera_id}}}","tls":"","x":644.7142333984375,"y":299.8094787597656,"wires":[["1ad3922e.5a589e"]]},{"id":"ac359447.046aa8","type":"http request","z":"1b4fd640.7790fa","name":"OpticalFlow","method":"GET","ret":"txt","url":"http://192.168.1.62/cgi-bin/HostedOpticalFlow?camera_id={{{camera_id}}}","tls":"","x":634.047607421875,"y":528.142822265625,"wires":[[]]},{"id":"47365a11.833de4","type":"http request","z":"1b4fd640.7790fa","name":"HTM Traffic Predictor","method":"GET","ret":"txt","url":"http://192.168.1.62/cgi-bin/HostedHTM?camera_id={{{camera_id}}}","tls":"","x":665.7142333984375,"y":599.8094787597656,"wires":[[]]},{"id":"878ef4ee.c0b5b8","type":"http request","z":"1b4fd640.7790fa","name":"LSTM Traffic Predictor","method":"GET","ret":"txt","url":"http://192.168.1.62/cgi-bin/HostedLSTM?camera_id={{{camera_id}}}","tls":"","x":665.7142944335938,"y":678.142822265625,"wires":[[]]},{"id":"1ad3922e.5a589e","type":"function","z":"1b4fd640.7790fa","name":"Apply JSON-LD Context","func":"function AddUUID(input_msg,context_dict)\n{\n    for (var plain_json_key in context_dict)\n    {\n        uuid = context_dict[plain_json_key];\n        input_msg.payload = input_msg.payload.replace('\"'+plain_json_key+'\":','\"'+uuid+'\":');\n    }\n    \n    return input_msg\n}\n\nvar node_context_dictionary = {\"camera_id\":\"@tfl:camera_id\",\"geo_lat\":\"wgs84_pos:lat\",\"geo_long\":\"wgs84_pos:long\"};\n\nreturn AddUUID(msg,node_context_dictionary);","outputs":1,"noerr":0,"x":938,"y":300.9999694824219,"wires":[["37b264c8.a68754"]]},{"id":"37b264c8.a68754","type":"ui_text","z":"1b4fd640.7790fa","group":"b4046622.17908","order":5,"width":0,"height":0,"name":"Detected Cars Display","label":"Cars Detected","format":"{{msg.payload}}","layout":"col-center","x":1200.5,"y":300.9999694824219,"wires":[]},{"id":"e6113db.720c94","type":"http in","z":"1b4fd640.7790fa","name":"Set Camera Id","url":"/set-camera","method":"get","swaggerDoc":"","x":97.5,"y":210.99996948242188,"wires":[["455b5877.3f0ff"]]},{"id":"455b5877.3f0ff","type":"function","z":"1b4fd640.7790fa","name":"camera_id from Request","func":"msg.camera_id = msg.req.query.camera_id;\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":210.99996948242188,"wires":[["4555e3f4.be6074","fb3b25d7.86cb1","39008da6.206462","c8fa3823.78d5c8","1dcbf197.05f356","9b70e383.8cd638"]]},{"id":"4555e3f4.be6074","type":"ui_text","z":"1b4fd640.7790fa","group":"b4046622.17908","order":1,"width":0,"height":0,"name":"Camera Id DIsplay","label":"Current Camera Id","format":"{{msg.camera_id}}","layout":"row-spread","x":1190.5,"y":194.99996948242188,"wires":[]},{"id":"fb3b25d7.86cb1","type":"http response","z":"1b4fd640.7790fa","name":"camera-set","x":1173,"y":152.99996948242188,"wires":[]},{"id":"5872b532.65ce4c","type":"ui_text","z":"1b4fd640.7790fa","group":"b4046622.17908","order":4,"width":0,"height":0,"name":"Speed Limit Display","label":"Speed Limit","format":"{{msg.payload}}","layout":"col-center","x":1200,"y":241.99996948242188,"wires":[]},{"id":"a4cbc932.09e03","type":"ui_template","z":"1b4fd640.7790fa","group":"b4046622.17908","name":"Camera Image Display","order":6,"width":"10","height":"5","format":"<div ng-bind-html=\"msg.payload\">\n    \n\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"x":1213.5,"y":361.9999694824219,"wires":[[]]},{"id":"c8fa3823.78d5c8","type":"template","z":"1b4fd640.7790fa","name":"Camera Image Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/00001.{{camera_id}}.jpg\" />\n\n","x":685.5,"y":350.9999694824219,"wires":[["a4cbc932.09e03"]]},{"id":"5ac253.efac8dac","type":"function","z":"1b4fd640.7790fa","name":"camera_id from Payload","func":"msg.camera_id = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":162.99996948242188,"wires":[["4555e3f4.be6074","39008da6.206462","c8fa3823.78d5c8","1dcbf197.05f356","9b70e383.8cd638"]]},{"id":"7fe2769f.0a277","type":"ui_dropdown","z":"1b4fd640.7790fa","name":"Camera Id Dropdown","label":"Set Camera Id","place":"Select Camera Id","group":"b4046622.17908","order":3,"width":"20","height":"1","passthru":false,"options":[{"label":"04503","value":"04503","type":"str"},{"label":"04252","value":"04252","type":"str"}],"payload":"","topic":"","x":919,"y":70,"wires":[["5ac253.efac8dac"]]},{"id":"8f8fa089.77a5e","type":"ui_template","z":"1b4fd640.7790fa","group":"b4046622.17908","name":"Camera Video Display","order":7,"width":"10","height":"5","format":"\n\n<video controls autoplay>\n<source src=\"http://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/00001.{{msg.camera_id}}.mp4\" type=\"video/mp4\">\n</video> \n\n","storeOutMessages":false,"fwdInMessages":false,"x":1196,"y":412.9999694824219,"wires":[[]]},{"id":"d74aafd4.7522e","type":"inject","z":"1b4fd640.7790fa","name":"Trigger Dropdown Setup","topic":"","payload":"04503","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.5,"y":30,"wires":[["793ff925.bb3f18"]]},{"id":"e496551.a9e3ca8","type":"function","z":"1b4fd640.7790fa","name":"Camera Id Array","func":"//var camera_id = ['01251', '01252', '01260', '01301', '01302', '01350', '01400', '01401', '01402', '01403', '01404', '01406', '01407', '01408', '01409', '01410', '01411', '01412', '01413', '01414', '01416', '01417', '01418', '01419', '01420', '01421', '01422', '01424', '01425', '01426', '01427', '01428', '01429', '01430', '01432', '01433', '01436', '01437', '01438', '01439', '01440', '01441', '01442', '01445', '01460', '01462', '01467', '01502', '01503', '01509', '01510', '01551', '01601', '01603', '01604', '01605', '01606', '01607', '01611', '01615', '01685', '02001', '02002', '02006', '02025', '02050', '02075', '02080', '02100', '02101', '02102', '02103', '02104', '02105', '02106', '02109', '02110', '02115', '02145', '02146', '02147', '02150', '02151', '02152', '02154', '02156', '02158', '02160', '02200', '02201', '02202', '02204', '02205', '02206', '02252', '02253', '02254', '02255', '02256', '02257', '02258', '02259', '02260', '02262', '02263', '02264', '02265', '02267', '02268', '02269', '02301', '02307', '02310', '02312', '02313', '02314', '02315', '02331', '02335', '02339', '02342', '02351', '02352', '02353', '02414', '02418', '02420', '02424', '02425', '02431', '02433', '02434', '02453', '02500', '02645', '02646', '02900', '03005', '03007', '03105', '03108', '03111', '03115', '03118', '03125', '03205', '03220', '03223', '03488', '03490', '03500', '03505', '03506', '03507', '03540', '03551', '03553', '03555', '03556', '03557', '03590', '03591', '03600', '03601', '03603', '03604', '03606', '03608', '03609', '03610', '03611', '03612', '03651', '03652', '03653', '03654', '03656', '03657', '03658', '03659', '03660', '03662', '03663', '03664', '03665', '03666', '03667', '03668', '03670', '03671', '03672', '03674', '03675', '03680', '03700', '03701', '03702', '03703', '03704', '03705', '03706', '03707', '03708', '03712', '03718', '03720', '03721', '03747', '03748', '03749', '03750', '03751', '03752', '03753', '03754', '03755', '03756', '03757', '03758', '03759', '03760', '03761', '03762', '03763', '03764', '03765', '03766', '03767', '03768', '03769', '03770', '03778', '03800', '03802', '03803', '03805', '03806', '03808', '03809', '03810', '03811', '03812', '03813', '03815', '03816', '03817', '03819', '03820', '03821', '03822', '03824', '03825', '03826', '03835', '03850', '03856', '03858', '03865', '03901', '03902', '03905', '03950', '04005', '04150', '04214', '04220', '04223', '04225', '04226', '04227', '04235', '04244', '04245', '04250', '04252', '04254', '04255', '04256', '04275', '04276', '04277', '04279', '04280', '04281', '04300', '04303', '04304', '04305', '04322', '04324', '04327', '04328', '04329', '04331', '04332', '04333', '04335', '04336', '04338', '04339', '04340', '04341', '04342', '04343', '04344', '04345', '04346', '04348', '04351', '04353', '04354', '04355', '04375', '04376', '04377', '04407', '04427', '04451', '04473', '04474', '04476', '04477', '04485', '04486', '04500', '04502', '04503', '04505', '04506', '04507', '04509', '04510', '04511', '04512', '04513', '04514', '04515', '04516', '04518', '04519', '04520', '04521', '04522', '04523', '04524', '04525', '04526', '04527', '04528', '04529', '04530', '04532', '04533', '04534', '04535', '04536', '04540', '04541', '04542', '04545', '04546', '04548', '04549', '04550', '04551', '04553', '04554', '04560', '04561', '04562', '04563', '04564', '04565', '04567', '04568', '04569', '04570', '04572', '04573', '04575', '04601', '04604', '04605', '04606', '04607', '04608', '04609', '04610', '04611', '04613', '04614', '04615', '04616', '04618', '04620', '04621', '04622', '04623', '04624', '04626', '04627', '04629', '04630', '04631', '04632', '04633', '04634', '04636', '04637', '04638', '04639', '04640', '04641', '04642', '04643', '04644', '04646', '04648', '04649', '04650', '04651', '04653', '04654', '04655', '04656', '04658', '04659', '04660', '04661', '04662', '04663', '04664', '04665', '04666', '04667', '04668', '04669', '04670', '04672', '04674', '04675', '04676', '04678', '04679', '04680', '04683', '04684', '04690', '04750', '04880', '04901', '05750', '05752', '05825', '05826', '05827', '05828', '05829', '05830', '05831', '05832', '05900', '05975', '05976', '05982', '06408', '06500', '06501', '06502', '06503', '06504', '06506', '06507', '06508', '06509', '06510', '06511', '06512', '06514', '06515', '06516', '06517', '06518', '06519', '06520', '06521', '06522', '06530', '06549', '06550', '06551', '06552', '06560', '06570', '06580', '06581', '06584', '06585', '06586', '06587'];\nvar camera_ids = msg.payload[\"camera_ids\"]\nmsg.options = camera_ids;\nreturn msg;","outputs":1,"noerr":0,"x":670.5,"y":71,"wires":[["7fe2769f.0a277"]]},{"id":"9b70e383.8cd638","type":"template","z":"1b4fd640.7790fa","name":"Camera Video Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<video controls autoplay>\n<source src=\"http://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/00001.{{camera_id}}.mp4\" type=\"video/mp4\">\n</video> ","x":685,"y":407.9999694824219,"wires":[["8f8fa089.77a5e"]]},{"id":"312fdfe7.30a208","type":"ui_button","z":"1b4fd640.7790fa","name":"Populate Cameras Button","group":"b4046622.17908","order":2,"width":0,"height":0,"passthru":false,"label":"Populate Camera List","color":"Get Cameras","bgcolor":"","icon":"","payload":"04503","payloadType":"str","topic":"","x":152.5,"y":80,"wires":[["793ff925.bb3f18"]]},{"id":"793ff925.bb3f18","type":"http request","z":"1b4fd640.7790fa","name":"Get Camera IDs","method":"GET","ret":"obj","url":"http://localhost:5002/tfl-api/camera-ids","tls":"","x":477,"y":71,"wires":[["e496551.a9e3ca8"]]},{"id":"b4046622.17908","type":"ui_group","z":"","name":"Camera Summary","tab":"8fcf3a48.c6ec1","disp":true,"width":"20"},{"id":"8fcf3a48.c6ec1","type":"ui_tab","z":"","name":"Camera Summary","icon":"dashboard"}]
