TFL_flow.txt
[{"id":"bd25fe06.2f5d1","type":"function","z":"86e5e7c5.f1c538","name":"Apply JSON-LD Context","func":"function AddUUID(input_msg,context_dict)\n{\n    for (var plain_json_key in context_dict)\n    {\n        uuid = context_dict[plain_json_key];\n        input_msg.payload = input_msg.payload.replace('\"'+plain_json_key+'\":','\"'+uuid+'\":');\n    }\n\n    \n    return input_msg\n}\n\nvar node_context_dictionary = {\"camera_id\":\"test\",\"geo_lat\":\"wgs84_pos:lat\",\"geo_long\":\"wgs84_pos:long\"};\nmsg.pre_parsed = msg.payload.replace('(','{\"list\":[').replace(')',']}').replace(/'/g,'\"').replace(\"'\",'\"').replace(\"'\",'\"').replace(\"'\",'\"');\n\nif(msg.pre_parsed[0] != '<')\n{\n\n    msg.parsed = JSON.parse(msg.pre_parsed); //msg.payload.replace('(','{\"list\":[').replace(')',']}').replace(\"'\",'\"'));\n    if(msg.parsed.length > 0)\n    {\n        if(msg.parsed[0].list.length === 5)\n        {\n            msg.speed_limit = msg.parsed[0].list[4];\n        }\n    }\n    return AddUUID(msg,node_context_dictionary);    \n}\nelse\n{\n    msg.payload = \"too many calls to OSM api\";\n    return msg\n}","outputs":1,"noerr":0,"x":1605.2142333984375,"y":328.2142639160156,"wires":[["a6712b12.7047d8","80f86d8c.6376f"]]},{"id":"5e4f52fa.0ca494","type":"http request","z":"86e5e7c5.f1c538","name":"OSM Speed Limit Call","method":"GET","ret":"txt","url":"http://localhost:5001/osm-api/tfl-speedlimit/{{{camera_id}}}","tls":"","x":1280.854736328125,"y":314.1928405761719,"wires":[["bd25fe06.2f5d1"]]},{"id":"a6712b12.7047d8","type":"ui_text","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","order":5,"width":"16","height":"1","name":"Speed Limit Display","label":"Speed Limit","format":"{{msg.payload}}","layout":"col-center","x":2241.28564453125,"y":182.49993896484375,"wires":[]},{"id":"d3aba519.5a5b2","type":"function","z":"86e5e7c5.f1c538","name":"camera_id from Request","func":"msg.camera_id = msg.req.query.camera_id;\nreturn msg;","outputs":1,"noerr":0,"x":516.2857055664062,"y":309.9999694824219,"wires":[["5e4f52fa.0ca494","62d0ea8e.7a3f7c","32142b60.63719c","7a1e9629.a3e148","eb5fdbed.f1ca","7f839521.044434","7b7565a3.6a8e44"]]},{"id":"54501c2.40d5d64","type":"function","z":"86e5e7c5.f1c538","name":"camera_id from Payload","func":"msg.camera_id = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":516.2857055664062,"y":269.9999694824219,"wires":[["5e4f52fa.0ca494","62d0ea8e.7a3f7c","7a1e9629.a3e148","eb5fdbed.f1ca","7f839521.044434","7b7565a3.6a8e44"]]},{"id":"a44244e7.959158","type":"function","z":"86e5e7c5.f1c538","name":"Fetching New Data","func":"msg.payload = \"-\";\nreturn msg;","outputs":1,"noerr":0,"x":1981.28564453125,"y":25,"wires":[["a6712b12.7047d8","833ec5b.1f2f2b8","dfde5499.216ef8","4d772ddb.8302c4","e46946f7.328bc","a4b84a6e.1915f8","e44ef107.52c3a8","3ddf7c48.92e1bc","2d6cf34f.337a5c","3d0f0bb1.8ce0d4","bfa6801d.e5e9e","f6288dc5.63ed2"]]},{"id":"7d691b9c.b01864","type":"http in","z":"86e5e7c5.f1c538","name":"Set Camera Id","url":"/set-camera","method":"get","swaggerDoc":"","x":236.28570556640625,"y":229.99996948242188,"wires":[["d3aba519.5a5b2","a44244e7.959158"]]},{"id":"62d0ea8e.7a3f7c","type":"ui_text","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","order":2,"width":"6","height":"1","name":"Camera Id DIsplay","label":"Current Camera Id","format":"{{msg.camera_id}}","layout":"row-spread","x":2243.45263671875,"y":101.33331298828125,"wires":[]},{"id":"32142b60.63719c","type":"http response","z":"86e5e7c5.f1c538","name":"camera-set","x":548.4527587890625,"y":364.33331298828125,"wires":[]},{"id":"7a1e9629.a3e148","type":"http request","z":"86e5e7c5.f1c538","name":"Get Image","method":"GET","ret":"bin","url":"http://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/00001.{{camera_id}}.jpg","tls":"","x":848.78564453125,"y":432.49993896484375,"wires":[["e530beaf.5e1428"]]},{"id":"5464d0f.1c6c1b","type":"inject","z":"86e5e7c5.f1c538","name":"","topic":"","payload":"04503","payloadType":"str","repeat":"","crontab":"","once":false,"x":256.28570556640625,"y":189.99996948242188,"wires":[["54501c2.40d5d64","a44244e7.959158"]]},{"id":"8497eb3c.60983","type":"ui_dropdown","z":"86e5e7c5.f1c538","name":"Camera Id Dropdown","label":"Set Camera Id","place":"Select Camera Id","group":"5f1aeb6f.de19cc","order":3,"width":"10","height":"1","passthru":false,"options":[{"label":"04503","value":"04503","type":"str"},{"label":"04252","value":"04252","type":"str"}],"payload":"","topic":"","x":946.2857055664062,"y":69.99996948242188,"wires":[["54501c2.40d5d64","a44244e7.959158"]]},{"id":"833ec5b.1f2f2b8","type":"ui_text","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","order":6,"width":"16","height":"4","name":"Detected Cars Display","label":"Cars Detected","format":"{{msg.payload}}","layout":"col-center","x":2238.7857055664062,"y":242.49996948242188,"wires":[]},{"id":"dfde5499.216ef8","type":"ui_text","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","order":4,"width":0,"height":0,"name":"Congestometre Rating","label":"Congestometre Rating:","format":"{{msg.payload}}","layout":"row-spread","x":2238.7857055664062,"y":282.4999694824219,"wires":[]},{"id":"e530beaf.5e1428","type":"function","z":"86e5e7c5.f1c538","name":"encode to string","func":"msg.payload = {camera_id:msg.camera_id,\n    image:encodeURI(Buffer.from(msg.payload).toString('base64'))};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":1041.28564453125,"y":434.99993896484375,"wires":[["928fa10d.5ab6c","a5b06c4e.51a31","803ff3b1.2b642","3ee15b3d.1715ec"]]},{"id":"d830afbf.f03b28","type":"function","z":"86e5e7c5.f1c538","name":"Camera Id Array","func":"//var camera_id = ['01251', '01252', '01260', '01301', '01302', '01350', '01400', '01401', '01402', '01403', '01404', '01406', '01407', '01408', '01409', '01410', '01411', '01412', '01413', '01414', '01416', '01417', '01418', '01419', '01420', '01421', '01422', '01424', '01425', '01426', '01427', '01428', '01429', '01430', '01432', '01433', '01436', '01437', '01438', '01439', '01440', '01441', '01442', '01445', '01460', '01462', '01467', '01502', '01503', '01509', '01510', '01551', '01601', '01603', '01604', '01605', '01606', '01607', '01611', '01615', '01685', '02001', '02002', '02006', '02025', '02050', '02075', '02080', '02100', '02101', '02102', '02103', '02104', '02105', '02106', '02109', '02110', '02115', '02145', '02146', '02147', '02150', '02151', '02152', '02154', '02156', '02158', '02160', '02200', '02201', '02202', '02204', '02205', '02206', '02252', '02253', '02254', '02255', '02256', '02257', '02258', '02259', '02260', '02262', '02263', '02264', '02265', '02267', '02268', '02269', '02301', '02307', '02310', '02312', '02313', '02314', '02315', '02331', '02335', '02339', '02342', '02351', '02352', '02353', '02414', '02418', '02420', '02424', '02425', '02431', '02433', '02434', '02453', '02500', '02645', '02646', '02900', '03005', '03007', '03105', '03108', '03111', '03115', '03118', '03125', '03205', '03220', '03223', '03488', '03490', '03500', '03505', '03506', '03507', '03540', '03551', '03553', '03555', '03556', '03557', '03590', '03591', '03600', '03601', '03603', '03604', '03606', '03608', '03609', '03610', '03611', '03612', '03651', '03652', '03653', '03654', '03656', '03657', '03658', '03659', '03660', '03662', '03663', '03664', '03665', '03666', '03667', '03668', '03670', '03671', '03672', '03674', '03675', '03680', '03700', '03701', '03702', '03703', '03704', '03705', '03706', '03707', '03708', '03712', '03718', '03720', '03721', '03747', '03748', '03749', '03750', '03751', '03752', '03753', '03754', '03755', '03756', '03757', '03758', '03759', '03760', '03761', '03762', '03763', '03764', '03765', '03766', '03767', '03768', '03769', '03770', '03778', '03800', '03802', '03803', '03805', '03806', '03808', '03809', '03810', '03811', '03812', '03813', '03815', '03816', '03817', '03819', '03820', '03821', '03822', '03824', '03825', '03826', '03835', '03850', '03856', '03858', '03865', '03901', '03902', '03905', '03950', '04005', '04150', '04214', '04220', '04223', '04225', '04226', '04227', '04235', '04244', '04245', '04250', '04252', '04254', '04255', '04256', '04275', '04276', '04277', '04279', '04280', '04281', '04300', '04303', '04304', '04305', '04322', '04324', '04327', '04328', '04329', '04331', '04332', '04333', '04335', '04336', '04338', '04339', '04340', '04341', '04342', '04343', '04344', '04345', '04346', '04348', '04351', '04353', '04354', '04355', '04375', '04376', '04377', '04407', '04427', '04451', '04473', '04474', '04476', '04477', '04485', '04486', '04500', '04502', '04503', '04505', '04506', '04507', '04509', '04510', '04511', '04512', '04513', '04514', '04515', '04516', '04518', '04519', '04520', '04521', '04522', '04523', '04524', '04525', '04526', '04527', '04528', '04529', '04530', '04532', '04533', '04534', '04535', '04536', '04540', '04541', '04542', '04545', '04546', '04548', '04549', '04550', '04551', '04553', '04554', '04560', '04561', '04562', '04563', '04564', '04565', '04567', '04568', '04569', '04570', '04572', '04573', '04575', '04601', '04604', '04605', '04606', '04607', '04608', '04609', '04610', '04611', '04613', '04614', '04615', '04616', '04618', '04620', '04621', '04622', '04623', '04624', '04626', '04627', '04629', '04630', '04631', '04632', '04633', '04634', '04636', '04637', '04638', '04639', '04640', '04641', '04642', '04643', '04644', '04646', '04648', '04649', '04650', '04651', '04653', '04654', '04655', '04656', '04658', '04659', '04660', '04661', '04662', '04663', '04664', '04665', '04666', '04667', '04668', '04669', '04670', '04672', '04674', '04675', '04676', '04678', '04679', '04680', '04683', '04684', '04690', '04750', '04880', '04901', '05750', '05752', '05825', '05826', '05827', '05828', '05829', '05830', '05831', '05832', '05900', '05975', '05976', '05982', '06408', '06500', '06501', '06502', '06503', '06504', '06506', '06507', '06508', '06509', '06510', '06511', '06512', '06514', '06515', '06516', '06517', '06518', '06519', '06520', '06521', '06522', '06530', '06549', '06550', '06551', '06552', '06560', '06570', '06580', '06581', '06584', '06585', '06586', '06587'];\nvar camera_ids = msg.payload[\"camera_ids\"]\nmsg.options = camera_ids;\nreturn msg;","outputs":1,"noerr":0,"x":706.2857055664062,"y":69.99996948242188,"wires":[["8497eb3c.60983"]]},{"id":"caa9e8f9.39ebe8","type":"function","z":"86e5e7c5.f1c538","name":"Apply JSON-LD Context","func":"function AddUUID(input_msg,context_dict)\n{\n    for (var plain_json_key in context_dict)\n    {\n        uuid = context_dict[plain_json_key];\n        input_msg.payload = input_msg.payload.replace('\"'+plain_json_key+'\":','\"'+uuid+'\":');\n    }\n    \n    return input_msg\n}\n\nvar node_context_dictionary = {\"camera_id\":\"@tfl:camera_id\",\"geo_lat\":\"wgs84_pos:lat\",\"geo_long\":\"wgs84_pos:long\"};\n\nreturn AddUUID(msg,node_context_dictionary);","outputs":1,"noerr":0,"x":1606.28564453125,"y":377.49993896484375,"wires":[["833ec5b.1f2f2b8"]]},{"id":"928fa10d.5ab6c","type":"http request","z":"86e5e7c5.f1c538","name":"Car Detector","method":"POST","ret":"txt","url":"http://localhost:5010/car-detector/image","tls":"","x":1306.28564453125,"y":377.49993896484375,"wires":[["caa9e8f9.39ebe8"]]},{"id":"492fb0ac.e4852","type":"http request","z":"86e5e7c5.f1c538","name":"Get Camera IDs","method":"GET","ret":"obj","url":"http://localhost:5002/tfl-api/camera-ids","tls":"","x":506.28570556640625,"y":69.99996948242188,"wires":[["d830afbf.f03b28"]]},{"id":"9fa42500.63bf9","type":"inject","z":"86e5e7c5.f1c538","name":"Trigger Dropdown Setup","topic":"","payload":"04503","payloadType":"str","repeat":"","crontab":"","once":false,"x":196.28570556640625,"y":69.99996948242188,"wires":[["492fb0ac.e4852"]]},{"id":"c4ebc3be.a54b4","type":"ui_button","z":"86e5e7c5.f1c538","name":"Populate Cameras Button","group":"5f1aeb6f.de19cc","order":1,"width":0,"height":0,"passthru":false,"label":"Populate Camera List","color":"Get Cameras","bgcolor":"","icon":"","payload":"04503","payloadType":"str","topic":"","x":191.5716552734375,"y":127.19047546386719,"wires":[["492fb0ac.e4852"]]},{"id":"a5b06c4e.51a31","type":"http request","z":"86e5e7c5.f1c538","name":"CNN Congestometre","method":"POST","ret":"obj","url":"http://localhost:5020/congestometre/image","tls":"","x":1355.03564453125,"y":688.75,"wires":[["bfa6801d.e5e9e","f6288dc5.63ed2","4a287b8a.9c4a54","4d772ddb.8302c4","e46946f7.328bc","e44ef107.52c3a8","a4b84a6e.1915f8","1ae78b88.af140c","66cbbeaa.1ed08","ad5dff2c.992028","4e502ad6.d73084"]]},{"id":"bfa6801d.e5e9e","type":"ui_text","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","order":1,"width":0,"height":0,"name":"Congestometre Rating (Test)","label":"Congestometre Rating:","format":"{{msg.payload.congestion_rating}}","layout":"row-spread","x":2288.78564453125,"y":597.5,"wires":[]},{"id":"f6288dc5.63ed2","type":"ui_template","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","name":"LIME explanation Image","order":3,"width":"8","height":"8","format":"\n<div>\n    <p>Explanation</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.explanations[0].explanation_data}}\" alt=\"Explanation LIME\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2287.535888671875,"y":641.2501220703125,"wires":[[]]},{"id":"4a287b8a.9c4a54","type":"function","z":"86e5e7c5.f1c538","name":"","func":"msg.payload = msg.payload.congestion_rating;\nreturn msg;","outputs":1,"noerr":0,"x":2008.0712890625,"y":317.2142333984375,"wires":[["dfde5499.216ef8"]]},{"id":"72f1f612.424d58","type":"ui_video","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","order":8,"width":"8","height":"8","videoHeight":"350","autoplay":false,"controls":false,"name":"TFL Video","label":"video","format":"{{msg.payload}}","x":2213.07177734375,"y":58.683319091796875,"wires":[]},{"id":"eb5fdbed.f1ca","type":"function","z":"86e5e7c5.f1c538","name":"Video Settings","func":"msg.payload = {src: \"http://s3-eu-west-1.amazonaws.com/jamcams.tfl.gov.uk/00001.\"+msg.camera_id+\".mp4\",\ntype: \"video/mp4\",\nautoplay: true,\nloop:true,\ncontrols: false\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1311.07177734375,"y":217.5999755859375,"wires":[["72f1f612.424d58"]]},{"id":"803ff3b1.2b642","type":"ui_template","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","name":"TFL Image","order":2,"width":"8","height":"8","format":"\n<div>\n    <p>TFL Image</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.image}}\" alt=\"TFL Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2245.63427734375,"y":395.8125,"wires":[[]]},{"id":"a15439c8.83c4c8","type":"function","z":"86e5e7c5.f1c538","name":"Initialise Globals","func":"\nglobal.set(\"camera_car_movements\",{});\n\nreturn msg;","outputs":1,"noerr":0,"x":929.2501220703125,"y":1132.767822265625,"wires":[[]]},{"id":"857feba.a174c18","type":"inject","z":"86e5e7c5.f1c538","name":"Initalise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":747.2857666015625,"y":1128.8155517578125,"wires":[["a15439c8.83c4c8"]]},{"id":"1562498f.ca688e","type":"function","z":"86e5e7c5.f1c538","name":"Add New Car Observation","func":"var car_movements = global.get(\"camera_car_movements\");\n\nif(!(msg.camera_id in car_movements))\n{\n    car_movements[msg.camera_id] = [];\n}\n\n//('b7fc4a5c', 144, 223.0, 124.0, -0.016143799, 0.84008789)\n\nmsg.timestamp = new Date();\n\nfor( var frame_array_key in msg.payload)\n{\n    msg.debug = frame_array_key;\n    \n    for(var movement in msg.payload[frame_array_key])\n    {\n        msg.payload[frame_array_key][movement][\"camera_id\"] = msg.camera_id;\n        msg.payload[frame_array_key][movement][\"timestamp\"] = msg.timestamp;\n        car_movements[msg.camera_id].push(msg.payload[frame_array_key][movement]);\n        \n    }\n    \n    // for(var movement in msg.payload[frame_array_key])\n    // {\n    //     msg.payload[frame_array_key][movement][\"camera_id\"] = msg.camera_id;\n    //     msg.payload[frame_array_key][movement][\"timestamp\"] = msg.timestamp;\n    //     car_movements[msg.camera_id].push(msg.payload[\"200\"][movement]);\n        \n    // }\n}\n\n\n\n//car_movements[msg.camera_id].push(\n    // {\"camera_id\":msg.camera_id,\n//     \"timestamp\":msg.timestamp,\n//     \"car_id\":\"b7fc4a5c\",\n//     \"frameNumber\":144,\n//     \"posXinCamera\":223,\n//     \"posYinCamera\":124,\n//     \"pixelXSpeed\":-0.016143799,\n//     \"pixelYSpeed\":0.84008789}\n// );\n\n\nglobal.set(\"camera_car_movements\",car_movements);\n\nreturn msg;","outputs":1,"noerr":0,"x":1161.0357666015625,"y":1015.5358276367188,"wires":[["638b9586.1e3644"]]},{"id":"638b9586.1e3644","type":"function","z":"86e5e7c5.f1c538","name":"Aggregate Movement","func":"function TimeSince(date)\n{\n    return Math.floor((new Date() - date) / 1000);\n}\n\nfunction Sum(array)\n{\n    var total=0;\n    \n    for(var i in array) { total += array[i]; }\n    \n    return total;\n}\n\nfunction Average(array)\n{\n    if(array.length === 0)\n    {\n        return 0;\n    }\n    return Sum(array)/array.length;\n}\n\nvar car_movements = global.get(\"camera_car_movements\");\n\nmsg.cars_at_camera = car_movements[msg.camera_id].length;\n\ntime_period = 5;\n\nfiltered_movements = car_movements[msg.camera_id].filter(function(movement){return TimeSince(movement.timestamp) < time_period;});\n\nmsg.filtered = filtered_movements.length;\n\nvar x_pixel_velocities = filtered_movements.map(movement => Math.abs(movement.pixelXSpeed));\n\nmsg.x_aggregate = Average(x_pixel_velocities);\n\n\nvar y_pixel_velocities = filtered_movements.map(movement => Math.abs(movement.pixelYSpeed));\n\nmsg.y_aggregate = Average(y_pixel_velocities);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1423.5357666015625,"y":1014.2858276367188,"wires":[["3ddf7c48.92e1bc","2d6cf34f.337a5c","80f86d8c.6376f"]]},{"id":"7f839521.044434","type":"http request","z":"86e5e7c5.f1c538","name":"OpticalFlow","method":"GET","ret":"obj","url":"http://localhost:5050/opticalflow/tfl-id/{{camera_id}}","tls":"","x":940.0982666015625,"y":1013.2232666015625,"wires":[["1562498f.ca688e"]]},{"id":"3ddf7c48.92e1bc","type":"ui_text","z":"86e5e7c5.f1c538","group":"e961ce20.eb5c58","order":3,"width":0,"height":0,"name":"pixel v","label":"Car Pixel Velocity","format":"{{msg.flow}}","layout":"row-spread","x":2183.1785888671875,"y":976.3540344238281,"wires":[]},{"id":"2d6cf34f.337a5c","type":"ui_text","z":"86e5e7c5.f1c538","group":"e961ce20.eb5c58","order":2,"width":0,"height":0,"name":"Speed Limit","label":"Speed Limit","format":"{{msg.speed_int}}","layout":"row-spread","x":2205.09814453125,"y":1017.5087585449219,"wires":[]},{"id":"3ee15b3d.1715ec","type":"ui_template","z":"86e5e7c5.f1c538","group":"5f1aeb6f.de19cc","name":"Camera Image Display","order":7,"width":"8","height":"8","format":"\n<div>\n    <p>TFL Image</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.image}}\" alt=\"TFL Image\" />\n</div> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":2273.75927734375,"y":442.0625,"wires":[[]]},{"id":"7b7565a3.6a8e44","type":"http request","z":"86e5e7c5.f1c538","name":"Car Detector","method":"GET","ret":"obj","url":"http://localhost:5010/tfl-api/detect-cars-video/{{camera_id}}","tls":"","x":938.2232666015625,"y":1076.3482666015625,"wires":[[]]},{"id":"e46946f7.328bc","type":"ui_template","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","name":"Lext Example Image","order":6,"width":"8","height":"8","format":"\n<div>\n    <p>Left Example</p>\n       <img src=\"data:image/jpg;base64, {{msg.payload.explanations[2].explanation_data.left_image.image}}\" alt=\"Explanation LIME\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2277.4998779296875,"y":739.9999084472656,"wires":[[]]},{"id":"4d772ddb.8302c4","type":"ui_text","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","order":4,"width":"6","height":"1","name":"Left Example Rating","label":"Left Example Rating:","format":"{{msg.payload.explanations[2].explanation_data.left_image.rating}}","layout":"col-center","x":2271.0712890625,"y":702.1427612304688,"wires":[]},{"id":"e44ef107.52c3a8","type":"ui_text","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","order":5,"width":"6","height":"1","name":"Right Example Rating","label":"Right Example Rating:","format":"{{msg.payload.explanations[2].explanation_data.right_image.rating}}","layout":"col-center","x":2279.642578125,"y":788.928466796875,"wires":[]},{"id":"a4b84a6e.1915f8","type":"ui_template","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","name":"Right Example Image","order":7,"width":"8","height":"8","format":"\n<div>\n    <p>Right Example</p>\n       <img src=\"data:image/jpg;base64, {{msg.payload.explanations[2].explanation_data.right_image.image}}\" alt=\"Explanation LIME\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2282.5,"y":835.7141723632812,"wires":[[]]},{"id":"43ebf16e.18601","type":"function","z":"86e5e7c5.f1c538","name":"Congestion Rating","func":"var x = msg.payload.x_aggregate;\nvar y = msg.payload.y_aggregate;\n\nvar max_flow = Math.max(x,y);\nmsg.flow = max_flow;\nmsg.speed_int = parseInt(msg.speed_limit.replace(\" mph\",\"\"));\nvar factor = Math.tanh(parseInt(msg.speed_limit.replace(\" mph\",\"\")) * 0.08);\n//var factor = 0.3;\nmsg.factor = factor;\n\n//msg.traffic_flow = max_flow;\nmsg.traffic_flow = Math.tanh(max_flow*factor);\n\nreturn msg;","outputs":1,"noerr":0,"x":1882.857177734375,"y":975.9285888671875,"wires":[["3d0f0bb1.8ce0d4","3ddf7c48.92e1bc","2d6cf34f.337a5c"]]},{"id":"3d0f0bb1.8ce0d4","type":"ui_text","z":"86e5e7c5.f1c538","group":"e961ce20.eb5c58","order":1,"width":0,"height":0,"name":"Traffic Flow Rating","label":"Traffic Flow Rating:","format":"{{msg.traffic_flow}}","layout":"row-spread","x":2223.5712890625,"y":1084.9999084472656,"wires":[]},{"id":"80f86d8c.6376f","type":"join","z":"86e5e7c5.f1c538","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","timeout":"","count":"2","x":1668.21435546875,"y":975.5712890625,"wires":[["43ebf16e.18601"]]},{"id":"1ae78b88.af140c","type":"debug","z":"86e5e7c5.f1c538","name":"","active":true,"console":"false","complete":"false","x":1786.75,"y":593.0166625976562,"wires":[]},{"id":"66cbbeaa.1ed08","type":"ui_text","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","order":8,"width":"6","height":"1","name":"Salient Objects","label":"Salient Objects:","format":"{{msg.payload}}","layout":"col-center","x":2411.25,"y":889.5833129882812,"wires":[]},{"id":"ad5dff2c.992028","type":"ui_template","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","name":"Salient Mask Image","order":9,"width":"8","height":"8","format":"\n<div>\n    <p>Salient Masked Image</p>\n       <img src=\"data:image/jpg;base64, {{msg.payload.explanations[1].explanation_data.masked_image}}\" alt=\"Salient Masked Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2424.107421875,"y":936.3690185546875,"wires":[[]]},{"id":"faa26f92.9644f8","type":"http request","z":"86e5e7c5.f1c538","name":"Car Detector","method":"POST","ret":"txt","url":"http://localhost:5010/car-detector/image","tls":"","x":1684.5833740234375,"y":842.9166259765625,"wires":[["f31b6783.7ddee"]]},{"id":"4e502ad6.d73084","type":"function","z":"86e5e7c5.f1c538","name":"encode to string","func":"msg.payload = {camera_id:msg.camera_id,\n    image:msg.payload.explanations[1].explanation_data.masked_image};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":1496.2498779296875,"y":834.5833740234375,"wires":[["faa26f92.9644f8"]]},{"id":"f31b6783.7ddee","type":"function","z":"86e5e7c5.f1c538","name":"Apply JSON-LD Context","func":"function AddUUID(input_msg,context_dict)\n{\n    for (var plain_json_key in context_dict)\n    {\n        uuid = context_dict[plain_json_key];\n        input_msg.payload = input_msg.payload.replace('\"'+plain_json_key+'\":','\"'+uuid+'\":');\n    }\n    \n    return input_msg\n}\n\nvar node_context_dictionary = {\"camera_id\":\"@tfl:camera_id\",\"geo_lat\":\"wgs84_pos:lat\",\"geo_long\":\"wgs84_pos:long\"};\n\nreturn AddUUID(msg,node_context_dictionary);","outputs":1,"noerr":0,"x":1917.9166259765625,"y":882.9166870117188,"wires":[["66cbbeaa.1ed08"]]},{"id":"c7b2758.cf31b08","type":"ui_text","z":"86e5e7c5.f1c538","group":"6a4a00.2e11d6","order":10,"width":"6","height":"1","name":"Salient Objects(FROMCNN)","label":"Salient Objects(FROMCNN):","format":"{{msg.payload.explanations[1].explanation_data.salient_objects}}","layout":"col-center","x":2557.91650390625,"y":821.25,"wires":[]},{"id":"5f1aeb6f.de19cc","type":"ui_group","z":"","name":"Camera Summary","tab":"e8556d9c.6881b8","disp":true,"width":"16"},{"id":"6a4a00.2e11d6","type":"ui_group","z":"","name":"Explanation Testing","tab":"e8556d9c.6881b8","order":2,"disp":true,"width":"16"},{"id":"e961ce20.eb5c58","type":"ui_group","z":"","name":"Optical Flow","tab":"e8556d9c.6881b8","order":3,"disp":true,"width":"10"},{"id":"e8556d9c.6881b8","type":"ui_tab","z":"","name":"TFL Decision Support","icon":"dashboard"}]